form {
    width: 400px;
    height: 490px;
    position: absolute;
    top: 50%;
    left: 25%;
    margin-top: -225px;
    margin-left: -200px;
    border: 5px solid cornflowerblue;
    border-radius: 10px;
}

.title{
    float: left;
    width: inherit;
    margin: 5px;
    margin-left: 25px;
}

.title:first-child{
    margin-top: 40px;
}

.form-input{
    float: right;
    margin-right: 50px;
}

.save-button{
    float: left;
    margin-top: 45px;
    margin-left: 25px;
    margin-right: 25px;
    width: 340px;
    height: 45px;
    font-size: 20px;
    font-style: italic;
    background-color: darkblue;
    color: white;
    border: 3px solid blueviolet;
    border-radius: 10px;
}

.form-title{
    position: absolute;
    left: 50%;
    top: 3%;
    margin-left: -99px;
    color: saddlebrown;
    font-style: italic;
    font-size: 65px;
}